<form action="{% url 'builder:cpu' order %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>Choose a CPU:</h1></legend>
    {% for cpu in components %}
      <input type="radio" name="cpu" id="cpu{{ forloop.counter }}" 
        value="{{ cpu.id }}"/>
      <label for="cpu{{ forloop.counter }}">{{ cpu.model }}</label><br><br>
      {{ cpu.description|linebreaks }}<br><br>
      {{ cpu.price }}<br><br><br><br>
    {% empty %}
      <p>Ups! There are no components available for the moment, sorry!</p>
    {% endfor %}
  </fieldset>
  <input type="submit" value="Next">
</form>