{% extends 'builder/base.html' %}

{% block content %}
  <h1>Here is your order at the moment:</h1>

  {% for comp_type, comp in components.items %}
    {% if comp and comp_type != 'RAM' %}
      <li>{{ comp_type }}:</li>
      <ul><p>{{ comp }}</p></ul>
      <br>
    {% endif %}
    {% if comp and comp_type == 'RAM' %}
      <li>{{ comp_type }}:</li>
      <ul><p>{{ comp.0 }} x {{ comp.1 }}</p></ul>
      <br>
    {% endif %}
  {% endfor %}

  <button><a href="{{request.META.HTTP_REFERER|escape}}">BACK</a></button>
{% endblock content %}
