{% extends 'builder/base.html' %}

{% load bootstrap5 %}

{% block header %}
  <h1>Here is your order at the moment:</h1>
{% endblock header %}

{% block content %}
  {% for comp_type, comp in components.items %}
    {% if comp and comp_type != 'RAM' %}
      <li>{{ comp_type }}:</li>
      <ul><p>{{ comp }}</p></ul>
      <br>
    {% endif %}
    {% if comp and comp_type == 'RAM' %}
      <li>{{ comp_type }}:</li>
      <ul><p>{{ comp.0 }} x {{ comp.1 }}</p></ul>
      <br>
    {% endif %}
  {% endfor %}

  {% buttons %}
    <button>
      <a href="{% url 'builder:choose_component' order.id previous %}" 
          style="color: #ffffff; text-decoration: none">BACK</a>
    </button>
  {% endbuttons %}
{% endblock content %}
