<form action="{% url 'builder:ram' order_id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>Choose the RAM:</h1></legend>
    {% for ram in components %}
      <input type="radio" name="ram" id="ram{{ forloop.counter }}" 
        value="{{ ram.id }}"/>
      <label for="ram{{ forloop.counter }}">{{ ram.model }}</label><br><br>
      {{ ram.description|linebreaks }}<br><br>
      ${{ ram.price }}<br><br><br><br>
    {% empty %}
      <p>Ups! There are no components available for the moment, sorry!</p>
    {% endfor %}
  </fieldset>
  <input type="submit" value="Next">
</form>